{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block main %}

    <div class="container">
        <h1>Contact</h1>
        {{ form_start(form, {'attr': {'id': 'form'}}) }}
        <div class="g-recaptcha" data-sitekey="6Lf7E9sUAAAAAMu-e5LoCFEv02q8WpXIBDXzOAMz"></div>
        {{ form_rest((form)) }}
        <button type="submit" class="btn btn-primary">Envoyer</button>
        {{ form_end(form) }}
    </div>

{% endblock %}



{% block javascripts %}
    {{ parent() }}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script>
        $(function()
        {
            $('#form').on("submit", function (e) {
                e.preventDefault();
                $.ajax({
                    url: '{{ path('contact') }}',
                    type: "POST",
                    dataType: "json",
                    data: $('#form').serialize(),
                    async: true,
                    success: function (data) {
                        console.log(data);
                    },
                    error: function (error)
                    {
                        console.log(error);
                    }
                })
            });
        });
    </script>
{% endblock %}