{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block main %}
    <section class="pt-5 pb-5 mb-5">
        <div class="container">
            <h1 class="text-warning pb-3">Contact</h1>
            {{ form_start(form, {'attr': {'id': 'form'}})}}
            {{ form_widget((form)) }}
            <div class="g-recaptcha mb-2" data-sitekey="6Lf7E9sUAAAAAMu-e5LoCFEv02q8WpXIBDXzOAMz"></div>
            <button class="btn btn-primary">Envoyer</button>
            {{ form_end(form) }}

            <div class="container mt-2" id="success"></div>
            <div class="container mt-2" id="error"></div>
        </div>
    </section>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script>
        $(function () {
            $('#form').on("submit", function (e) {
                e.preventDefault();
                $.ajax({
                    url: '{{ path('contact') }}',
                    type: "POST",
                    dataType: "json",
                    data: $('#form').serialize(),
                    async: true,
                    success: function () {
                        alert('Votre message a bien été envoyé');
                        $('#success').append('<div class="alert alert-success">Votre message a bien été envoyé');
                        $('#error').remove();

                    },
                    error: function () {
                        $('#error').append('<div class="alert alert-danger">Une erreur est survenue: Vérifier le recaptcha ou votre connexion internet');
                        $('#success').remove();
                    }
                })
            });
        });
    </script>
{% endblock %}